canvas {
    border: 3px solid;
}
#controls {
    display : flex;
}
#controls img {
    width : 100px;
    height: 100px;
}
#controls * {
    margin-left: 3px;
}
a {
    background-color: white;
    text-align: center;
    padding : 3px;
    border-radius: 5px;
    border: 2px solid;
    transition: 0.5s;
}
a:hover {
    background-color: orange;
}